---
import Link from "./ui/Link.astro"
const { author } = Astro.props;
const { first_name, last_name, role, bio } = author.data;

---

<footer class="border-t border-gray-200 dark:border-gray-700 mt-4 pt-4">
    <p class="text-lg font-bold text-gray-800 dark:text-gray-200 mb-1">{first_name} {last_name}</p>
    <p class="text-sm text-gray-500 mb-4">{role}</p>
    <p class="text-sm text-gray-500">{bio}</p>
    <Link class="mt-4 block link-with-right-arrow" href=`/blog/authors/${author.id}`>Read {first_name}'s bio</Link>
</footer>
